@import url('https://fonts.cdnfonts.com/css/good-times-2');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: black;
}

::-webkit-scrollbar-thumb {
	background: #76b9a3;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* body {
	position: relative;
	min-height: 100vh;
	background-image: url('/img/ic15/Background.png');
	background-attachment: fixed;
	background-size: cover;
	backdrop-filter: blur(5px) opacity(0.8);
} */

/* main.bg {
	background-image: url('/img/ic15/Background.png');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	backdrop-filter: opacity(0.8);
} */
.bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('/img/ic15/Background.png');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	opacity: 0.5;
	filter: blur(3px);
}

.table {
	background-color: #731219;
	border: 3px solid whitesmoke;
	vertical-align: middle;
	text-align: start;
	font-weight: bold;
	opacity: 85%;
}
.table tr {
	border-bottom: 3px solid #ddd;
  }

th {
	padding: 30px 50px !important;
}
td {
	padding: 25px !important;
}

section {
	padding-bottom: 10px;
}

.intro-text {
	color: white;
	font-size: 0.8rem;
	text-align: justify;
	font-family: 'Good Times Rg', sans-serif;
	line-height: 1.7rem;
}

.review-text {
	color: white;
	font-size: 0.8rem;
	text-align: center;
	font-family: 'Good Times Rg', sans-serif;
	line-height: 1.7rem;
}

.faq h3 span {
	color: #196e4e;
}

.faq .faq-list .collapsed {
	color: rgb(221, 221, 221);
}

.faq-list .collapse p {
	color: rgb(221, 221, 221);
}

.clients img {
	max-width: 60%;
}

.bx-chevron-right:before {
	color: #ffffff;
}

.bx-chevron-right a {
	color: #ffffff;
}

#footer .footer-top .footer-links ul a {
	color: #ffffff !important;
	transition: 0.3s;
	display: inline-block;
	line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
	color: #d98dc6 !important;
}

#footer .footer-top .social-links a {
	background: #8b156d;
}
#footer .footer-top h4 {
	font-size: 16px;
	font-weight: bold;
	color: #8b156d;
	position: relative;
	padding-bottom: 12px;
}

#footer .footer-top .social-links a:hover {
	background: #590d46;
}

.credits a {
	color: white;
	transition: 0.3s;
}

.credits a:hover {
	color: #d96cbe;
}

.back-to-top {
	background: #8b156d;
}

.back-to-top:hover {
	background: #8b156d;
}

.theme-clr {
	background: #0a120e !important;
}

.section-title h2 {
	color: white;
	background: #8b156d;
}

.contact .info-box {
	box-shadow: 0 0 35px rgb(0 0 0 / 57%);
}

.banner {
	min-height: 100vh;
	/* background: url('/img/ic15/Background.png');*/
	background-attachment: fixed;
	background-size: cover;
	filter: blur(0.4px);
	font-family: 'Good Times Rg', sans-serif !important;

	/* max-height: 100vh; */
}

.logos {
	margin-top: -20px;
	height: 10vh;
}

.logos img {
	max-height: 50px;
	width: auto;
	margin-right: 20px;
}

#hacknsu-logo {
	height: 60vh;
	width: auto;
	justify-content: center;
}

@media (max-width: 440px) {
	#hacknsu-logo {
		width: 90vw;
		height: auto;
		/* content: url("/img/ic/wheel2.png");*/
	}

	.block {
		position: absolute;
		top: 35vh;
		left: 50vw;
		border-radius: 50%;
		width: 10px;
		height: 10px;
		/* background: #9494940a; */
		background: white;
		box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.25);
		z-index: -9999;
	}
}

@media screen and (max-width: 900px) {
	#hacknsu-logo {
		margin-top: 120px;
		width: 90vw;
		height: auto;
	}

	.block {
		position: absolute;
		top: 35vh;
		left: 50vw;
		border-radius: 50%;
		width: 50px;
		height: 50px;
		background: #9494940a;
		box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.25);
		z-index: -9999;
	}
}

#details {
	min-height: 100vh;
}

.prize-card {
	font-family: 'Good Times Rg', sans-serif;
	margin: 20px 40px;
	padding: 10px;
	max-width: 40%;
	height: 350px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	background: rgba(139, 21, 109, 0.3);
	overflow-y: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	border-left: 1px solid rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(2px);
	color: rgb(221, 221, 221);
		
}
.prize-card h1 {
	font-size: 1.7rem;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 5px;
	background-color: rgba(255, 255, 255, 0.3);
	color: #196e4e;
	width: 100;
}

.prize-card p {
	font-size: 1.7rem;
	font-weight: bold;
	padding: 10px;
	text-align: justify;
	overflow-y: scroll;
}
.dummy-text {
	font-size: 0.7rem !important;
}

.prize-card p::-webkit-scrollbar {
	width: 5px;
}

.prize-card p::-webkit-scrollbar-track {
	background: transparent;
}

.prize-card p::-webkit-scrollbar-thumb {
	background: transparent;
}

.prize-card p::-webkit-scrollbar-thumb:hover {
	background: #555;
}

@media (max-width: 600px) {
	.prize-card {
		margin: 20px 30px;
		max-width: 85%;
	}
	.prize-card p {
		font-size: 1.2rem;
	}
	.prize-card div {
		margin-top: 10px;
	}
}

.block {
	position: absolute;
	top: 35vh;
	left: 50vw;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background: #9494940a;
	box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.25);
	z-index: -9999;
}

@media screen and (max-width: 900px) {
	.prize-card {
		max-width: 85%;
	}
	.block {
		position: absolute;
		top: 38vh;
		left: 50vw;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		background: #9494940a;
		/* background: white; */
		box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.25);
		z-index: -9999;
	}
}

@media (max-width: 440px) {
	.block {
		position: absolute;
		top: calc(35vh+200px);
		left: 50vw;
		border-radius: 50%;
		width: 10px;
		height: 10px;
		background: rgba(255, 255, 255, 0.214);
		box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.25);
		z-index: -9999;
	}
}

.fade-in-btn {
	animation: fadeIn 3s;
}

.fade-in-btn a {
	background-color: #196e4e;
	font-family: 'Good Times Rg', sans-serif;
}

.fade-in-btn a:hover {
	background-color: transparent;
	border: 1px solid #196e4e;
	color: white;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	70% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/* The actual timeline (the vertical ruler) */
.timeline {
	position: relative;
	max-width: 100%;
	margin: 0 auto;
	background: transparent;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
	content: '';
	position: absolute;
	width: 6px;
	background-color: #196e4e;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
}

/* Container around content */
.tl-container {
	padding: 10px 40px;
	position: relative;
	background-color: inherit;
	width: 50%;
}

/* The circles on the timeline */
.tl-container::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	right: -12px;

	background-color: white;
	border: 4px solid #ff9f55;
	top: 15px;
	z-index: 1;
}

/* Place the container to the left */
.left {
	left: auto;
}

/* Place the container to the right */
.right {
	left: auto;
}

/* Add arrows to the left container (pointing right) */
.left::before {
	content: ' ';
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	right: 30px;
	border: medium solid white;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
	content: ' ';
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	left: 30px;
	border: medium solid white;
	border-width: 10px 10px 10px 0;
	border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
	left: -13px;
}

/* The actual content */
.content {
	padding: 20px 30px;
	background-color: white;
	position: relative;
	border-radius: 6px;
}

@media screen and (max-width: 768px) {
	/* Place the timelime to the left */
	.timeline::after {
		left: 12px;
	}

	/* Full-width containers */
	.tl-container {
		width: 100%;
		padding-left: 70px;
		padding-right: 25px;
	}

	/* Make sure that all arrows are pointing leftwards */
	.tl-container::before {
		left: 60px;
		border: medium solid white;
		border-width: 10px 10px 10px 0;
		border-color: transparent white transparent transparent;
	}

	/* Make sure all circles are at the same spot */
	.left::after,
	.right::after {
		left: 0;
	}

	/* Make all right containers behave like the left ones */
	.right {
		left: 0;
	}
}

#footer {
	background: none !important;
}

.footer-top {
	background: none !important;
}

@media screen and (max-width: 900px) {
	#footer {
		background: url('/img/ic15/Background.png') !important;
		background-size: cover !important;
		background-repeat: no-repeat !important;
	}

	.footer-top {
		/* background: url('../img/ic/bgmirror.png') !important;*/
		background-size: cover !important;
		background-repeat: no-repeat !important;
	}
}

#hacknsupreloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	overflow: hidden;
	background: black;
}

pre {
	padding: 0;
	margin: 0;
}

.load {
	margin: 0 auto;
	min-height: 100%;
	width: 100%;
	background: black;
}

.term {
	font-family: monospace;
	color: #fff;
	opacity: 0.8;
	font-size: 2em;
	overflow-y: auto;
	overflow-x: hidden;
	padding-top: 10px;
	padding-left: 20px;
}

@media (max-width: 440px) {
	.term {
		font-size: 0.8em;
		overflow-x: auto;
	}
}

.term:after {
	content: '_';
	opacity: 1;
	animation: cursor 1s infinite;
}

@keyframes cursor {
	0% {
		opacity: 0;
	}

	40% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	90% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

#center {
	margin: 0 auto;
}

/* Title animation */
.section-ttl {
	display: block;
	margin: auto auto;
	width: max-content;
	background-image: linear-gradient(to right, #a71d49, #732f92);
	padding: 8px 20px;
	text-align: center;
	justify-content: center;
	align-items: center;
	border-radius: 40px;
	font-size: 24px;
}

.linear-wipe {
	text-align: center;
	margin-bottom: 0;
	background: linear-gradient(to right, #fff 20%, #4494cd 40%, #4494cd 50%, #fff 80%);
	background-size: 200% auto;
	font-family: 'Good Times Rg', sans-serif;

	color: #000;
	background-clip: text;
	/* text-fill-color: transparent; */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	animation: shine 1s linear infinite;
}

@keyframes shine {
	to {
		background-position: 200% center;
	}
}

/* Timeline */
#season-attraction {
	max-height: 70vh;
}

.ps-timeline-sec {
	position: relative;
	top: -180px;
	background: transparent;
}

.ps-timeline-sec .container {
	position: relative;
}

@media screen and (max-width: 767px) {
	#particles-js {
		height: 70%;
	}

	#season-attraction {
		max-height: 90vh;
	}

	.ps-timeline-sec {
		left: 50px;
		top: -90px;
	}

	#p-1 {
		position: absolute;
		top: 28px;
	}

	#p-2 {
		position: absolute;
		top: -6px;
	}

	#p-3 {
		position: absolute;
		top: 28px;
	}

	#p-4 {
		position: absolute;
		top: -92px;
		left: 10px;
	}

	.ps-timeline-sec .container ol:before {
		background: #8b156d;
		content: '';
		width: 10px;
		height: 10px;
		border-radius: 5px;
		position: absolute;
		top: -2px !important;
		left: 33px !important;
	}

	.ps-timeline-sec .container ol:after {
		background: #8b156d;
		content: '';
		width: 10px;
		height: 10px;
		border-radius: 100%;
		position: absolute;
		top: inherit !important;
		left: 33px;
	}

	.ps-timeline-sec .container ol.ps-timeline {
		position: static !important;
		top: 0 !important;
		margin: 130px 0 !important;
		border-left: 2px solid #8b156d;
		padding-left: 0 !important;
		padding-top: 120px !important;
		border-top: 0 !important;
		margin-left: 25px !important;
	}

	.ps-timeline-sec .container ol.ps-timeline li {
		height: 110px;
		float: none !important;
		width: inherit !important;
	}

	.ps-timeline-sec .container ol.ps-timeline li:nth-child(2) .img-handler-bot img {
		width: 70px;
	}

	.ps-timeline-sec .container ol.ps-timeline li:last-child {
		margin: 0;
		bottom: 0 !important;
		height: 120px;
	}

	.ps-timeline-sec .container ol.ps-timeline li:last-child .img-handler-bot {
		bottom: 40px !important;
		width: 40% !important;
		margin-left: 25px !important;
		margin-top: 0 !important;
	}

	.ps-timeline-sec .container ol.ps-timeline li:last-child .img-handler-bot img {
		width: 100%;
	}

	.ps-timeline-sec .container ol.ps-timeline li:last-child .ps-top {
		margin-bottom: 0 !important;
		top: 20px;
		width: 50% !important;
	}

	.ps-timeline-sec .container ol.ps-timeline li span {
		left: 0 !important;
	}

	.ps-timeline-sec .container ol.ps-timeline li span.ps-sp-top:before {
		content: none !important;
	}

	.ps-timeline-sec .container ol.ps-timeline li span.ps-sp-top:after {
		content: none !important;
	}

	.ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:before {
		content: none !important;
	}

	.ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:after {
		content: none !important;
	}

	.ps-timeline-sec .container ol.ps-timeline li .img-handler-top {
		position: absolute !important;
		bottom: 150px !important;
		width: 30% !important;
		float: left !important;
		margin-left: 35px !important;
		margin-bottom: 0 !important;
	}

	.ps-timeline-sec .container ol.ps-timeline li .img-handler-top img {
		margin: 0 auto !important;
		width: 80% !important;
	}

	.ps-timeline-sec .container ol.ps-timeline li .img-handler-bot {
		position: absolute !important;
		bottom: 115px !important;
		width: 30% !important;
		float: left !important;
		margin-left: 35px !important;
		margin-bottom: 0 !important;
	}

	.ps-timeline-sec .container ol.ps-timeline li p {
		text-align: left !important;
		width: 250px !important;
		margin: 0 auto !important;
		margin-top: 0px !important;
	}

	.ps-timeline-sec .container ol.ps-timeline li .ps-top {
		width: 60% !important;
		float: right !important;
		right: 0;
		top: -40px;
	}

	.ps-timeline-sec .container ol.ps-timeline li .ps-bot {
		width: 60% !important;
		float: right !important;
		right: 0;
		top: -40px;
	}
}

.ps-timeline-sec .container ol:before {
	background: #8b156d;
	content: '';
	width: 10px;
	height: 10px;
	border-radius: 100%;
	position: absolute;
	left: -7px;
	top: -7px;
}

.ps-timeline-sec .container ol:after {
	background: #8b156d;
	content: '';
	width: 10px;
	height: 10px;
	border-radius: 100%;
	position: absolute;
	right: -7px;
	top: -7px;
}

.ps-timeline-sec .container ol.ps-timeline {
	position: relative;
	top: 210px;
	margin: 210px 0;
	border-top: 3px solid #8b156d;
	list-style: none;
}

.ps-timeline-sec .container ol.ps-timeline li {
	float: left;
	width: 25%;
	padding-top: 30px;
	position: relative;
}

.ps-timeline-sec .container ol.ps-timeline li span {
	width: 50px;
	height: 50px;
	margin-left: -25px;
	background: #fff;
	border: 4px solid #8b156d;
	border-radius: 50%;
	box-shadow: 0 0 0 0px #fff;
	text-align: center;
	line-height: 50px -10;
	color: #a71d49;
	font-size: 1.7rem;
	font-style: normal;
	position: absolute;
	top: -26px;
	left: 50%;
}

.ps-timeline-sec .container ol.ps-timeline li span.ps-sp-top:before {
	content: '';
	color: #8b156d;
	width: 2px;
	height: 50px;
	background: #8b156d;
	position: absolute;
	top: -50px;
	left: 50%;
}

.ps-timeline-sec .container ol.ps-timeline li span.ps-sp-top:after {
	content: '';
	color: #8b156d;
	width: 8px;
	height: 8px;
	background: #8b156d;
	position: absolute;
	bottom: 90px;
	left: 44%;
	border-radius: 100%;
}

.ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:before {
	content: '';
	color: #8b156d;
	width: 2px;
	height: 50px;
	background: #8b156d;
	position: absolute;
	bottom: -50px;
	left: 50%;
}

.ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:after {
	content: '';
	color: #8b156d;
	width: 8px;
	height: 8px;
	background: #8b156d;
	position: absolute;
	top: 90px;
	left: 44%;
	border-radius: 100%;
}

.ps-timeline-sec .container ol.ps-timeline li .img-handler-top {
	position: absolute;
	bottom: 0;
	margin-bottom: 130px;
	width: 100%;
}

.ps-timeline-sec .container ol.ps-timeline li .img-handler-top img {
	display: table;
	margin: 0 auto;
}

.ps-timeline-sec .container ol.ps-timeline li .img-handler-bot {
	position: absolute;
	margin-top: 60px;
	width: 100%;
}

.ps-timeline-sec .container ol.ps-timeline li .img-handler-bot img {
	display: table;
	margin: 0 auto;
}

.ps-timeline-sec .container ol.ps-timeline li p {
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

.ps-timeline-sec .container ol.ps-timeline li .ps-top {
	position: absolute;
	bottom: 0;
	margin-bottom: 100px;
}

.ps-timeline-sec .container ol.ps-timeline li .ps-bot {
	position: absolute;
	margin-top: 35px;
}

#p-1,
#p-2,
#p-3,
#p-4 {
	font-size: 1.3rem;
	color: white;
}

.testimonial-item {
	text-align: center;
	padding: 15px;
}

.testimonial-item h3,
.testimonial-item h4 {
	font-size: 1rem;
	margin: 10px;
}

.testimonial-img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 6px solid rgba(255, 255, 255, 0.15);
	margin: 0 auto;
}

/* Particle JS */
/* ---- particles.js container ---- */
#particles-js {
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 20%;
	background-position: 50% 50%;
}

/* ---- stats.js ---- */
/* .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; } */
